<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>
        <%= meta.title %>
    </title>
    <link rel="stylesheet" type="text/css" href="<%= escape(stylesheet) %>" />
    <link rel="icon" type="image/x-icon" href="<%= escape(favicon) %>" />
    <script type="text/javascript" src="<%= script %>"></script>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="application-name" content="Stock" />
    <meta name="author" content="Skadro" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="google" content="nositelinkssearchbox" />
    <link rel="alternate" type="application/json+oembed" href="<%= meta.oEmbed %>&format=json"
        title="<%= meta.filename %>" />
    <link rel="alternate" type="text/xml+oembed" href="<%= meta.oEmbed %>&format=xml" title="<%= meta.filename %>" />
    <meta property="og:url" content="<%= meta.url %>" />
    <meta property="og:title" content="<%= meta.filename %>" />
    <meta name="twitter:site" content="@<%= meta.siteName.toLowerCase().replace(/[^a-zA-Z0-9_]|^\d+/g, '') %>" />
    <meta name="twitter:title" content="<%= meta.filename %>" />
    <% if (meta.mediaType==='image' ) { %>
        <meta property="og:type" content="photo" />
        <meta property="og:image" content="<%= meta.mediaURL %>" />
        <% if (secured) { %>
            <meta property="og:image:secure_url" content="<%= meta.mediaURL %>" />
            <% } %>
                <meta property="og:image:type" content="<%= meta.contentType %>" />
                <meta property="og:image:width" content="<%= meta.width %>" />
                <meta property="og:image:height" content="<%= meta.height %>" />
                <meta property="og:image:alt" content="<%= meta.filename %>" />
                <meta name="twitter:card" content="summary_large_image" />
                <meta name="twitter:image" content="<%= meta.mediaURL %>" />
                <meta name="twitter:image:alt" content="<%= meta.filename %>" />
                <% } else if (meta.mediaType==='video' ) { %>
                    <meta property="og:type" content="video" />
                    <meta property="og:video" content="<%= meta.mediaURL %>" />
                    <% if (secured) { %>
                        <meta property="og:video:secure_url" content="<%= meta.mediaURL %>" />
                        <% } %>
                            <meta property="og:video:iframe" content="<%= meta.url %>" />
                            <meta property="og:video:type" content="<%= meta.contentType %>" />
                            <meta property="og:video:width" content="<%= meta.width %>" />
                            <meta property="og:video:height" content="<%= meta.height %>" />
                            <meta name="twitter:card" content="player" />
                            <meta name="twitter:player" content="<%= meta.url %>" />
                            <meta name="twitter:player:width" content="<%= meta.width %>" />
                            <meta name="twitter:player:height" content="<%= meta.height %>" />
                            <meta name="twitter:player:stream" content="<%= meta.mediaURL %>" />
                            <meta name="twitter:image" content="<%= meta.thumbnail %>" />
                            <meta name="twitter:image:alt" content="<%= meta.filename %>" />
                            <% } %>

</head>

<body>
    <header class="sticky-header">
        <nav>
            <ul>
                <li><a href="/profile"><button>Profile</button></a></li>
                <li><a href="/stock"><button>My stock</button></a></li>
                <li><a href="/upload"><button>Upload</button></a></li>
                <li><a href="/logout"><button>Logout</button></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="title">
            <%= meta.title %>
        </h1>
        <div id="container">
            <% if (meta.mediaType==='image' ) { %>
                <div class="block">
                    <a><img src="<%= meta.mediaURL %>" alt="<%= meta.filename %>" width="<%= meta.width %>"
                            height="<%= meta.height %>"></a>
                </div>
                <% } else if (meta.mediaType==='video' ) { %>
                    <div class="block">
                        <a><video width="<%= meta.width %>" height="<%= meta.height %>" controls>
                                <source src="<%= meta.mediaURL %>" type="<%= meta.contentType %>">
                            </video>
                        </a>
                    </div>
                    <% } %>
        </div>
    </main>
</body>

</html>